<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <link rel="shortcut icon" href="public/stylesheets/assets/images/logo2.png" type="image/x-icon" />
        <meta name="description" content="" />
        <title>Home</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="public/stylesheets/assets/web/assets/mobirise-icons/mobirise-icons.css" />
        <link rel="stylesheet" href="public/stylesheets/assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="public/stylesheets/assets/bootstrap/css/bootstrap-grid.min.css" />
        <link rel="stylesheet" href="public/stylesheets/assets/bootstrap/css/bootstrap-reboot.min.css" />
        <link rel="stylesheet" href="public/stylesheets/assets/socicon/css/styles.css" />
        <link rel="stylesheet" href="public/stylesheets/assets/dropdown/css/style.css" />
        <link rel="stylesheet" href="public/stylesheets/assets/theme/css/style.css" />
        <link rel="stylesheet" href="public/stylesheets/assets/gallery/style.css" />
        <link rel="stylesheet" href="public/stylesheets/assets/mobirise/css/mbr-additional.css" type="text/css" />
    </head>
    <body>
        <section class="menu cid-rbb1P7Oggj" once="menu" id="menu1-5" data-sortbtn="btn-primary">
            <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
                <div class="navbar-brand">
                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption text-black display-2" href="/BuySell" style="font-family: 'Crimson Text', serif;">
                            IIT Jammu's Shopping store
                        </a>
                    </span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
					 <% if(!currentUser){ %>
<div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-info display-4" href="/auth/google"> Sign in with Google</a></div>
                    <% } else { %>
						<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
							<li class="nav-item">
		 <a class="nav-link link text-black display-4" href="#">Signed In As <%= currentUser.googleData.displayName %></a>
							</li>
						</ul>
<div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-info display-4" href="/logout"> logout</a></div>
                    <% } %>
					
                    
                </div>
            </nav>
        </section>

        <section class="header3 cid-rbb39CwPuR" id="header3-6" data-sortbtn="btn-primary">
            <div class="mbr-overlay" style="opacity: 0.7;"></div>

            <div class="container align-left">
                <div class="row justify-content-center">
                    <div class="media-container-column mbr-white col-md-10">
                        <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">IIT Jammu's Shopping store</h1>
                        <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-1" style="font-family: 'Crimson Text', serif;">
                            This is Our Store
                        </h3>

                        <div class="mbr-section-btn align-center pt-3">
                            <a class="btn btn-md btn-info display-4" href="index.html#shop6-2">Shop now</a>
							<a class="btn btn-md btn-primary display-4" href="/BuySell/new">Sell now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- <h4>
	
		</h4>	 -->
       <section class="mbr-gallery cid-rbaMy1tJOl" once="shops" id="shop6-2" data-sortbtn="btn-primary">
            <div>
                <div class="mbr-shop" shop__showsidebar="">
                    <!-- Shop Gallery -->
                    <div class="row d-block d-sm-none">
                        <div class="col-xl-4">
                            <form class="form-inline my-2 my-lg-0" method='get' action='/Buysell'>
                                <div  class="form-group row">
                                    <div class="col-md-8">
                                        <input class="form-control ml-md-7" name="search" placeholder="Search" aria-label="Search">
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-outline-success" type="submit" style="padding: 2px; width: 100px; height: 60px">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row col-md-12">
						
                        <div class="wrapper-shop-items col-lg-8">
							<div class='row'>
								 <% if(noMatch !== null) { %>
								 <h3><%= noMatch %></h3>

								 <% } %>
								<% items.forEach(function(image) { %>
								<div class="d-flex justify-content-around col-md-4">
									<div class="p-2">
										<div class="card" style="width: 14rem;"> 
										<img class="card-img-top" src="data:image/<%=image.img.contentType%>;base64, 
								 		<%=image.img.data.toString('base64')%>" alt="Card image cap">
												<div class="card-body text-center">
													<h4 class="card-title"><%= image.name %></h4>
													<h5>₹<%= image.price %></h5>
													<a href="/Buysell/<%=image._id %>" class="btn btn-info btn-sm">Buy Now</a>
												</div>
												
										</div>
									</div>
								</div>
								<% }) %> 
							</div>
								
						</div>
                        <!-- sidebarr -->
						<div class="col-lg-4 d-none d-sm-block">
							<form class="form-inline my-2 my-lg-0" method='get' action='/Buysell'>
                                <div  class="form-group row">
                                    <div class="col-md-8">
                                        <input class="form-control ml-md-7" name="search" placeholder="Search" aria-label="Search">
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-outline-success" type="submit" style="padding: 2px; width: 100px; height: 60px">Search</button>
                                    </div>
                                </div>
							</form>
						</div>
						
                    
					</div>
                </div>
            </div>
      </section> 
		
        <script src="public/stylesheets/assets/web/assets/jquery/jquery.min.js"></script>
        <script src="public/stylesheets/assets/popper/popper.min.js"></script>
        <script src="public/stylesheets/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="public/stylesheets/assets/smoothscroll/smooth-scroll.js"></script>
        <script src="public/stylesheets/assets/touchswipe/jquery.touch-swipe.min.js"></script>
        <script src="public/stylesheets/assets/mobirise-shop/script.js"></script>
        <script src="public/stylesheets/assets/dropdown/js/script.min.js"></script>
        <script src="public/stylesheets/assets/theme/js/script.js"></script>
        <script src="public/stylesheets/assets/gallery/player.min.js"></script>
        <script src="public/stylesheets/assets/gallery/script.js"></script>
    </body>
</html>
